extends layout 

block content
    h1= title
    
    h3 Name: #{users.name}
    h3 Weight: #{users.weight} 
    h3 Height: #{users.height}

    a(href="/gym/exercise") Add exercise

    a(href="/") Home